section.wy-nav-content-wrap {
background-color: #1d1f27;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: right;
  background-size: contain;
}

/* Sidebar */
div.wy-side-scroll {
  background-color: #1d1f27;
}

.wy-nav-top {
  background-color: #1d1f27;
}

.wy-nav-top>a {
  color: white;
}

/* Main content */
div.wy-nav-content {
  background-color: #272934;
  height: fit-content; 
  min-height: 100vh;;
}

div.wy-nav-content a {
  color:#999;
}

div.wy-side-nav-search {
  background-color: rgba(1, 1, 1, 0);padding: 0;
  padding-top: 10px;
}

div.wy-side-nav-search>a {
  color:  white;
}

div.wy-side-nav-search>a::before{
  display: none;
}


.wy-side-nav-search input[type=text] {
  border-radius: 0 !important;
  font-size: 15pt;
  margin: 0;
  background-color: #1d1f27;
  border:  5px solid #272934 !important;
  box-shadow: none;
  color: white;
}

div form input::placeholder {
  color: white;
}

body {
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1rem;
  color: #ccc;
}

* {
    border: 0 !important;
}

div.wy-side-scroll span.caption-text {
  color: #FA9F42;
}

a.reference.internal {
  color: #ccc;
  border-right: 0;
}

a.reference.internal:hover {
  background-color: #353847 !important;
}

a.reference.internal.current {
  background-color: #353847 !important;
  border: 0;
  color: white; 
}

li.current>a{
    background-color: #272934 !important;
    color: #ccc !important;
}

.toctree-l2 {
  background-color: #272934 !important;
  border: 0 !important;
color: #ccc !important;
}

.toctree-l2 a {
    color: #ccc !important;
}

* {
  border: none;
}

hr {
    border: none !important;
}

a.btn.btn-neutral {
  background: rgba(255, 255, 255, 0.2) !important;
  color: #fff !important;
  border: 0 !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

span.fa.fa-arrow-circle-right {
  display: none;
}

span.fa.fa-arrow-circle-left {
  display: none;
}

li.breadcrumb-item.active {
  color: white;
}

a.fa.fa-github {
  color: white;
}

p {
  color: #ccc;
}


ul li a {
  color: white;
}

.admonition.note {
   background-color: #353847;
}

p.admonition-title {
  background-color: #05aff2;
}

kbd {
  background-color: #ddd !important;
  color: black !important;
}
