/* .wy-nav-content {
    height: fit-content;
}

.wy-body-for-nav {
    background: #ececec;
}
.wy-nav-content-wrap {
    background: none;
}

.wy-side-nav-search {
    background: #05aff2;
}


.wy-side-nav-search input[type=text] {
    border-radius: 0;
    border: 0;
} */

/* .wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
    display: none;
}

a.icon.icon-home::before {
    content: "Audiotool"
} */