name: Build & Deploy Website
on:
  workflow_dispatch:

# Setup permission for ghpages
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-22.04
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
        
      - name: Checkout
        uses: actions/checkout@v3.2.0

      - name: Setup packages
        run: |
          apt install python3-sphinx make
          python -m pip install sphinx-press-theme myst-parser
      
      - name: Build
        run: make html

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload entire repository
          path: './_build/html'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
